<br><br>
<div class="row center light-blue lighten-3" style="padding: 2em; border-radius: 1em;">
    <h3 class="header center teal-text">Acerca de...</h3>
    <div class="row center">
        <h5 class="header col s12 light grey-text text-darken-3">
          Estudiante de Ingenieria en Tecnologías de la información y Comunicaciones.<br>
          Técnico Electronico.<br><br>
          dedicado al mantenimiento y soporte a equipos de computo y servidores windows y Linux.<br>
          Pasion por la virtualización y aprendizaje de nuevas tecnologías.
        </h5>
    </div>

    <div class="row center">
        <a href="#" class="btn-large waves-effect waves-light teal">Conoce más...</a>
    </div>
</div>