<br><br>
<div class="row center light-blue lighten-3" style="padding: 2em; border-radius: 1em;">
    <h3 class="header center teal-text">Luis Fernando Islas Pérez</h3>
    <div class="row center">
        <h5 class="header col s12 light grey-text text-darken-3">
            telefono: 55 1063 9883<br>
            Correo: luis.10.jsh@gmail.com<br>

        </h5>
    </div>

    <div class="row center">
        <a href="#" class="btn-large waves-effect waves-light teal">Contactar</a>
    </div>
</div>
