<br><br>
<div class="row center light-blue lighten-3" style="padding: 2em; border-radius: 1em;">
    <h1 class="header center teal-text">Luis Fernando Islas Pérez</h1>
    <div class="row center">
        <h3 class="header col s12 light grey-text text-darken-3">
            Experiencia laboral e historial académico. 
        </h3>
    </div>

    <div align= "left">
        <h5 class="header center teal-text">Soporte Técnico</h5>
        <br>
        <p>Grupo CVA - Ciudad de México</p>
        <p>Enero 2021 al presente</p>
        <p align ="justify">Diagnostico y detección de fallas en distintas marcas y modelos de equipos de computo, así como de impresoras equipos de red y Servidores con desperfectos, fallas o defectos de fabricación.</p>
        <p align="justify">Asesoría remota y en sitio de configuración, instalación y mantenimiento de equipos de computo, servidores, NAS, routers, firewall y sistemas de vigilancia CCTV o IP.</p>
        <p align="justify">soporte a usuario final en productos de marca GHIA, Quaroni, Ocelot y Acteck.</p>
        <p align="justify">Soporte a usuarios internos, mantenimiento a equipos de computo e impresoras, configuración de sistemas de venta, soporte a Redes y sistemas de vigilancia por IP.</p>
        <p align="justify">Soporte a cliente final respecto a configuración mantenimiento y garantías de laptops, impresoras, PC's, Motherboards, procesadores y cualquier componente o accesorios vendido por la empresa como solución de TI.</p>
        <p align="justify">Ensamble de Servidores, PC´s gamer, laptops gamer, armado y configuración de cableado estructurado así como la configuración de switchs, routers y firewalls.</p>
    </div>

    <div align ="left">
        <h5 class="header center teal-text">Auxiliar de TI</h5>
        <br>
        <p>Laser And Led Mexico S.A. DE C.V - Ciudad de México</p>
        <p>Septiembre 2017 a Septiembre 2020</p>
        <p align ="justify">Diagnostico y solución de problemas de procesamiento de UNIX y Windows. Aplicando soluciones para aumentar la eficiencia de la empresa. Implementación estándares de seguridad en la red.</p>
        <p align ="justify">Introducción de políticas de empresa, procedimientos técnicos y estándares para preservar la integridad y seguridad de datos, informes y accesos.</p>
        <p align ="justify">Alto desempeño en mantenimiento y desarrollo continuo de correcciones y parches de errores en aplicaciones web existentes.</p>
        <p align ="justify">Control del rendimiento de la red e informes estadísticos sobre el rendimiento de la red para realizar mediciones tanto en tiempo real como antiguas.</p>
        <p align ="justify">Implementación de la instalación de equipos de vigilancia por IP.</p>
        <p align ="justify">Instalación de túneles VPN para comunicación de redes a distancia. </p>
        <p align ="justify">Instalación de túneles VPN para comunicación de redes a distancia.</p>
        <p align ="justify">Mantenimiento preventivo y correctivo a equipos de computo, configuración de servidores Linux y Windows.</p>
        <p align ="justify">Soporte, mantenimiento y monitoreo de red.</p>
        <p align ="justify">instalación de POS en sucursales así como la configuración de equipos.</p>
    </div>



    <div class="row center">
        <a href="#" class="btn-large waves-effect waves-light teal">Enviar correo</a>
    </div>
</div>
